name: Demo of stackql-deploy using GitHub Actions

on:
  push:
    branches: 
    - main
  workflow_dispatch:

jobs:
  deploy-aws-stack:
    name: Deploy AWS Stack
    runs-on: ubuntu-latest
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Python
        uses: actions/setup-python@v5.1.1
        with:
          python-version: '3.10'  
  
      - name: Print StackQL Deploy Info
        uses: stackql/stackql-deploy-action@v1.0.2
        with:
          command: 'info'

      - name: Deploy a Stack
        uses: stackql/stackql-deploy-action@v1.0.2
        with:
          command: 'build'
          stack_dir: 'aws-stack'
          stack_env: 'dev'
          env_vars: 'AWS_REGION=us-east-1'
          show_queries: 'true'
          # log_level: 'debug'
